

/* regole header */ 
#main-header {
    height: 100px;
    background-color: #4ea1ff;
    background-size: 15%;
    background-image: url(../img/pattern.png)    
}
#logo {
    width: 15%;
}

/* regole main*/
#main-principale {
    
}
.blu {
    color: #4ea1ff;
}
#titolo {
    font-size: 50px;
}
#sottotitolo {
    color: gray;
    font-size: 18px;
}
#sotto-foto {
font-size: 12px;
}
.sottolineatura {
    background-color: yellow;
}
.larghezza-colonna {
    width:50%;
}
/* colore colonne blu e azzurre*/
.colore-colonna-blu {
    color: white;
    background-color: #21a9e6;
}
.colore-colonna-azzurra {
    background-color: #b1e6f2;
}
/* regole footer*/
.scritta-grigia {
    color: gray;
}
/*immagini di bg*/

#main-footer {
    background-repeat: no-repeat;
}

#monitor {
    height: 160px;
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
}
#graph {
    height: 160px;
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
}
.sopra-foto {
    font-size: 20px;
    color: white;
}
     
      
